:root {
  --size-0: 4px;
  --size-1: 8px;
  --size-2: 16px;
  --size-3: 32px;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #def;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

button {
  border: 1px solid #808080;
  padding: 8px 16px;
  border-radius: 4px;
  background: #c0e0ff;
}

.content {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.header {
  padding: 16px;
  background: #e0e0e0;
  display: flex;
  justify-content: space-between;
}

.home {
  height: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.game {
  height: 100%;
  padding: 16px;
}
